.btn-circle{
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    margin: 5px;
    border-radius: 15px;
}
#red{
    background-color: rgb(143, 18, 18);
}
#orange{
    background-color: orange;
}
#green{
    background-color: green;
}
.selected{
    filter: brightness(2);
}